# Environment variables for the backend application
NODE_ENV=development
HOST=0.0.0.0
PORT=8080

# Database configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=drnadech_attendance_system
DB_CONNECTION_LIMIT=10
